$bg-color: #EFEFEF;

@mixin transition($transition...) {
  -moz-transition:    $transition;
  -o-transition:      $transition;
  -webkit-transition: $transition;
  transition:         $transition;
}

.r-image-hole {
  background-color: $bg-color;
  display: inline-block;

  & > img {
    height: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%;

    @include transition( opacity 0.1s ease-in );
  }

}